<launch>
    <param name="/use_sim_time" value="true"/>
    <arg name="image_topic" default="/camera/image"/>
    <arg name="confidence_threshold" default="0.8"/>
    <node name="detectron" type="semantic_segmentation_node.py" pkg="detectron2_ros" output="screen">
        <remap from="/camera/image" to="$(arg image_topic)"/>
        <param name="confidence_threshold" value="$(arg confidence_threshold)"/>
    </node>
</launch>